nav{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 margin-right: 400px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  
}
nav ul li a {
  text-decoration: none;
  color: beige;
  font-size: 20px;
  font-family: 'Courgette', cursive;
}
 a :hover{
  background-color: gold;
}

.form-group{
 width: 300px;
 margin: auto;
 margin-top: 40px;
}
.todo-box{
  color: azure;
}


.input-and-button{
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.form-control{
  margin-top: 0px;
  background-color: black;
  color: white;
  width: 250px;
  margin-top: 0%;
}
.btn-secondary{
  color: rgb(80, 80, 114);
  background-color:#D7A171 ;
  width: 100px;
  margin-left: 20px;
  font-family:'Courgette', cursive;  
}
.container{
  background-color:#0D2832 ;
  border-radius: 25px;
  margin-left: 150px;
  margin-right: 200px;
  
  align-items: center;

  
}
 .todo-box {
 text-align: center;
 }
.delete-all{
  margin-left: 480px;
  margin-top: 10px;
  font-family:'Courgette', cursive;
  width: 440px; 
}
.content p{
  margin-top: 20px;
 display: inline-block;
 justify-content: space-around;
}
p{

  font-family:'Courgette', cursive; 
  font-size: larger;
}
.actions-box{
 justify-content: space-between;
 text-indent: 1em;
 
}
label{
  color: aliceblue;
  font-family:'Courgette', cursive; 
}