<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

.btn{
  color: red;
  width:
}
body{
  background: url(https://media3.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
}
.text-center{
  height: 100px;
  margin-top: 30px;
  font-size: 50px;
  color: aliceblue;
  background-size: 300px 350px;
  font-family:'Pacifico', cursive;
  font-weight: bolder;
  margin-top: 100px;
  
  
  
}
img{
  width: 60px;
  margin-left: 10px;
}

